@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Netduino P1 logging Dashboard</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/knockout-2.1.0.js")    
    @Scripts.Render("~/Content/highcharts/highcharts.js")
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Hidden("apikey", ViewData["ApiKey"])
    @Html.Hidden("currentWeek", ViewData["CurrentWeek"])

    <div id="hourly">
        <strong>Per hour (<span data-bind="text: hourlyDate"></span>)</strong>
        <div id="hourlychart"></div>
        <div id="hourlytable">
            <table>
                <thead>
                    <tr>
                        <td>Hour</td>
                        <td>Electricity</td>
                        <td>Gas</td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: hourlyUsages">
                    <tr>
                        <td><span data-bind="text: hour"></span></td>
                        <td><span data-bind="text: eTotal"></span></td>
                        <td><span data-bind="text: gas"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="button" onclick="dashboardViewModel.hourlyPrevious();" value="Previous day" />
        <input type="button" onclick="dashboardViewModel.hourlyNext();" value="Next day" />
    </div>
    <div id="daily">
        <strong>Per day (<span data-bind="text: dailyWeek"></span>)</strong>
        <div id="dailychart"></div>
        <div id="dailytable">
            <table>
                <thead>
                    <tr>
                        <td rowspan="2">Date</td>
                        <td colspan="4">Electricity</td>
                        <td colspan="4">Gas</td>
                    </tr>
                    <tr>                        
                        <td>Usage</td>
                        <td>Reference</td>
                        <td>Difference</td>
                        <td></td>
                        <td>Usage</td>
                        <td>Reference</td>
                        <td>Difference</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: dailyUsages">
                    <tr>
                        <td><span data-bind="text: date"></span></td>
                        <td><span data-bind="text: eTotal"></span></td>
                        <td><span data-bind="text: eReference"></span></td>
                        <td data-bind="style: { color: eDifference() < 0 ? 'green' : 'red' }"><span data-bind="text: eDifference"></span></td>
                        <td data-bind="style: { color: eDifference() < 0 ? 'green' : 'red' }">(<span data-bind="text: ePercentage"></span>%)</td>
                        <td><span data-bind="text: gas"></span></td>
                        <td><span data-bind="text: gasReference"></span></td>
                        <td data-bind="style: { color: gasDifference() < 0 ? 'green' : 'red' }"><span data-bind="text: gasDifference"></span></td>
                        <td data-bind="style: { color: gasDifference() < 0 ? 'green' : 'red' }">(<span data-bind="text: gasPercentage"></span>%)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="button" onclick="dashboardViewModel.dailyPrevious();" value="Previous week" />
        <input type="button" onclick="dashboardViewModel.dailyNext();" value="Next week" />
    </div>
    <div id="weeky">
        <strong>Per week (<span data-bind="text: weeklyRange"></span>)</strong>
        <div id="weeklychart"></div>
        <div id="weeklytable">
            <table>
                <thead>
                    <tr>
                        <td rowspan="2">Week</td>
                        <td colspan="4">Electricity</td>
                        <td colspan="4">Gas</td>
                    </tr>
                    <tr>                        
                        <td>Usage</td>
                        <td>Reference</td>
                        <td>Difference</td>
                        <td></td>
                        <td>Usage</td>
                        <td>Reference</td>
                        <td>Difference</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: weeklyUsages">
                    <tr>
                        <td><span data-bind="text: week"></span></td>
                        <td><span data-bind="text: eTotal"></span></td>
                        <td><span data-bind="text: eReference"></span></td>
                        <td data-bind="style: { color: eDifference() < 0 ? 'green' : 'red' }"><span data-bind="text: eDifference"></span></td>
                        <td data-bind="style: { color: eDifference() < 0 ? 'green' : 'red' }">(<span data-bind="text: ePercentage"></span>%)</td>
                        <td><span data-bind="text: gas"></span></td>
                        <td><span data-bind="text: gasReference"></span></td>
                        <td data-bind="style: { color: gasDifference() < 0 ? 'green' : 'red' }"><span data-bind="text: gasDifference"></span></td>
                        <td data-bind="style: { color: gasDifference() < 0 ? 'green' : 'red' }">(<span data-bind="text: gasPercentage"></span>%)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="button" onclick="dashboardViewModel.weeklyPrevious();" value="Previous" />
        <input type="button" onclick="dashboardViewModel.weeklyNext();" value="Next" />
    </div>
    <div id="monthly">
        <strong>Per month (<span data-bind="text: monthlyYear"></span>)</strong>
        <div id="monthlychart"></div>
        <div id="monthlytable">
            <table>
                <thead>
                    <tr>
                        <td rowspan="2">Month</td>
                        <td colspan="4">Electricity</td>
                        <td colspan="4">Gas</td>
                    </tr>
                    <tr>                        
                        <td>Usage</td>
                        <td>Reference</td>
                        <td>Difference</td>
                        <td></td>
                        <td>Usage</td>
                        <td>Reference</td>
                        <td>Difference</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: monthlyUsages">
                    <tr>
                        <td><span data-bind="text: month"></span></td>
                        <td><span data-bind="text: eTotal"></span></td>
                        <td><span data-bind="text: eReference"></span></td>
                        <td data-bind="style: { color: eDifference() < 0 ? 'green' : 'red' }"><span data-bind="text: eDifference"></span></td>
                        <td data-bind="style: { color: eDifference() < 0 ? 'green' : 'red' }">(<span data-bind="text: ePercentage"></span>%)</td>
                        <td><span data-bind="text: gas"></span></td>
                        <td><span data-bind="text: gasReference"></span></td>
                        <td data-bind="style: { color: gasDifference() < 0 ? 'green' : 'red' }"><span data-bind="text: gasDifference"></span></td>
                        <td data-bind="style: { color: gasDifference() < 0 ? 'green' : 'red' }">(<span data-bind="text: gasPercentage"></span>%)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="button" onclick="dashboardViewModel.monthlyPrevious();" value="Previous year" />
        <input type="button" onclick="dashboardViewModel.monthlyNext();" value="Next year" />
    </div>

    <script type="text/javascript">
        function HourlyUsage(hour, eTotal, gas) {
            var self = this;
            
            self.hour = ko.observable(hour);
            self.eTotal = ko.observable(eTotal);
            self.gas = ko.observable(gas);
        }

        function DailyUsage(date, eTotal, eReference, eDifference, ePercentage, gas, gasReference, gasDifference, gasPercentage) {
            var self = this;

            self.date = ko.observable(date);
            self.eTotal = ko.observable(eTotal);
            self.eReference = ko.observable(eReference);
            self.eDifference = ko.observable(eDifference);
            self.ePercentage = ko.observable(ePercentage);
            self.gas = ko.observable(gas);
            self.gasReference = ko.observable(gasReference);
            self.gasDifference = ko.observable(gasDifference);
            self.gasPercentage = ko.observable(gasPercentage);
        }

        function WeeklyUsage(week, eTotal, eReference, eDifference, ePercentage, gas, gasReference, gasDifference, gasPercentage) {
            var self = this;

            self.week = ko.observable(week);
            self.eTotal = ko.observable(eTotal);
            self.eReference = ko.observable(eReference);
            self.eDifference = ko.observable(eDifference);
            self.ePercentage = ko.observable(ePercentage);
            self.gas = ko.observable(gas);
            self.gasReference = ko.observable(gasReference);
            self.gasDifference = ko.observable(gasDifference);
            self.gasPercentage = ko.observable(gasPercentage);
        }

        function MonthlyUsage(month, eTotal, eReference, eDifference, ePercentage, gas, gasReference, gasDifference, gasPercentage) {
            var self = this;

            self.month = ko.observable(month);
            self.eTotal = ko.observable(eTotal);
            self.eReference = ko.observable(eReference);
            self.eDifference = ko.observable(eDifference);
            self.ePercentage = ko.observable(ePercentage);
            self.gas = ko.observable(gas);
            self.gasReference = ko.observable(gasReference);
            self.gasDifference = ko.observable(gasDifference);
            self.gasPercentage = ko.observable(gasPercentage);
        }

        function DashboardViewModel(apiKey, currentWeek) {
            var self = this;
            self.apiKey = ko.observable(apiKey);
            self.currentWeek = ko.observable(currentWeek);
            self.hourlyOffset = ko.observable(0);
            self.dailyOffset = ko.observable(0);
            self.weeklyOffset = ko.observable(0);
            self.weeklyStep = ko.observable(5);
            self.monthlyOffset = ko.observable(0);

            self.hourlyDate = ko.computed(function () {
                var date = new Date();
                date.setDate(date.getDate() - self.hourlyOffset());
                return date.toDateString();
            });
            self.dailyWeek = ko.computed(function () {
                return self.currentWeek() - self.dailyOffset();
            });
            self.weeklyRange = ko.computed(function () {
                return (self.currentWeek() - self.weeklyOffset() - self.weeklyStep()).toString() + " - " + (self.currentWeek() - self.weeklyOffset()).toString();
            });            
            self.monthlyYear = ko.computed(function () {
                var d = new Date();
                return d.getFullYear() - self.monthlyOffset();
            });

            self.hourlyUsages = ko.observableArray([new HourlyUsage(0, 0, 0)]);
            self.dailyUsages = ko.observableArray([new DailyUsage('', 0, 0, 0, 0, 0, 0, 0, 0)]);
            self.weeklyUsages = ko.observableArray([new WeeklyUsage('', 0, 0, 0, 0, 0, 0, 0, 0)]);
            self.monthlyUsages = ko.observableArray([new MonthlyUsage('', 0, 0, 0, 0, 0, 0, 0, 0)]);

            self.hourlyUrl = ko.computed(function () {
                return "/api/usages/" + self.apiKey() + "/hourly/" + self.hourlyOffset();
            });
            self.dailyUrl = ko.computed(function () {
                return "/api/usages/" + self.apiKey() + "/daily/" + self.dailyOffset();
            });
            self.weeklyUrl = ko.computed(function () {
                return "/api/usages/" + self.apiKey() + "/weekly/" + self.weeklyOffset() + "/" + self.weeklyStep();
            });
            self.monthlyUrl = ko.computed(function () {
                return "/api/usages/" + self.apiKey() + "/monthly/" + self.monthlyOffset();
            });

            self.hourlyNext = function () {
                if (this.hourlyOffset() == 0)
                    return;

                this.hourlyOffset(this.hourlyOffset() - 1);
            };
            self.hourlyPrevious = function () {
                this.hourlyOffset(this.hourlyOffset() + 1);
            };
            self.dailyNext = function () {
                if (this.dailyOffset() == 0)
                    return;

                this.dailyOffset(this.dailyOffset() - 1);
            };
            self.dailyPrevious = function () {
                this.dailyOffset(this.dailyOffset() + 1);
            };
            self.weeklyNext = function () {
                if (this.weeklyOffset() == 0)
                    return;

                this.weeklyOffset(this.weeklyOffset() - 1);
            };
            self.weeklyPrevious = function () {
                this.weeklyOffset(this.weeklyOffset() + 1);
            };
            self.monthlyNext = function () {
                if (this.monthlyOffset() == 0)
                    return;

                this.monthlyOffset(this.monthlyOffset() - 1);
            };
            self.monthlyPrevious = function () {
                this.monthlyOffset(this.monthlyOffset() + 1);
            };
        }

        var dashboardViewModel = {};

        function loadHourlyData() {
            $.getJSON(dashboardViewModel.hourlyUrl(), function (data) {
                var hourly = [];
                $.each(data, function (index, value) {
                    hourly.push(new HourlyUsage(value.Hour, value.ETotal, value.Gas));
                });

                dashboardViewModel.hourlyUsages(hourly);
            });
        }

        function loadDailyData() {
            $.getJSON(dashboardViewModel.dailyUrl(), function (data) {
                var daily = [];
                $.each(data, function (index, value) {
                    daily.push(new DailyUsage(value.DayString, value.ETotal, value.EleRef, value.EleRefDiff, value.EleRefPerc, value.Gas, value.GasRef, value.GasRefDiff, value.GasRefPerc));
                });

                dashboardViewModel.dailyUsages(daily);
            });
        }
        
        function loadWeeklyData() {
            $.getJSON(dashboardViewModel.weeklyUrl(), function (data) {
                var weekly = [];
                $.each(data, function (index, value) {
                    weekly.push(new WeeklyUsage(value.Week, value.ETotal, value.EleRef, value.EleRefDiff, value.EleRefPerc, value.Gas, value.GasRef, value.GasRefDiff, value.GasRefPerc));
                });

                dashboardViewModel.weeklyUsages(weekly);
            });
        }

        function loadMonthlyData() {
            $.getJSON(dashboardViewModel.monthlyUrl(), function (data) {
                var monthly = [];
                $.each(data, function (index, value) {
                    monthly.push(new MonthlyUsage(value.Month, value.ETotal, value.EleRef, value.EleRefDiff, value.EleRefPerc, value.Gas, value.GasRef, value.GasRefDiff, value.GasRefPerc));
                });

                dashboardViewModel.monthlyUsages(monthly);
            });
        }

        $(document).ready(function () {
            dashboardViewModel = new DashboardViewModel($("input[name='apikey']").val(), $("input[name='currentWeek']").val());

            dashboardViewModel.hourlyUrl.subscribe(function (newValue) {
                loadHourlyData();
            });
            dashboardViewModel.dailyUrl.subscribe(function (newValue) {
                loadDailyData();
            });
            dashboardViewModel.weeklyUrl.subscribe(function (newValue) {
                loadWeeklyData();
            });
            dashboardViewModel.monthlyUrl.subscribe(function (newValue) {
                loadMonthlyData();
            });

            loadHourlyData();
            loadDailyData();
            loadWeeklyData();
            loadMonthlyData();

            ko.applyBindings(dashboardViewModel);
        });
    </script>
</body>
</html>
